html * {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: #000000;
  text-decoration: none;
}

#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  background: #2db34a;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 5em;
  width: auto;
  height: 200px;
  justify-content: center;
  align-items: center;
}

#profilephoto {
  border-radius: 50%;
  width: 212px;
  height: 212px;
  margin-top: 1em;
  margin-left: 1.5em;
}

#sidebarline {
  width: auto;
  margin-left: 0.5px;
  margin-right: 10px;
  height: 2.5px;
  background-color: #000000;
}

.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timesfont {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.border {
  padding: 1em;
  padding-left: 9em;
  padding-right: 9em;
  border: 2px solid #ffffff;
  text-align: center;
}

.head {
  margin: 0;
}

.sidenav {
  margin-left: 15em;
  height: auto;
  background-color: lightgrey;
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.0001fr 1fr 0.3fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 25px;
  height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.font35 {
  font-size: 35px;
}

.biography-header {
  font-size: 30px;
  margin-block-start: 0em;
}

.floatimgleft {
  float: left;
  line-height: 19px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 5px;
}

.a {
  grid-area: 1 / 1 / 2 / 5;
}

.b {
  grid-area: 2 / 1 / 7 / 2;
}

.c {
  grid-area: 2 / 3 / 6 / 4;
}

.work-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.date1 {
  grid-area: 1 / 1 / 2 / 2;
}
.experience1 {
  grid-area: 1 / 2 / 2 / 3;
}
.date2 {
  grid-area: 2 / 1 / 3 / 2;
}
.experience2 {
  grid-area: 2 / 2 / 3 / 3;
}

.bold {
  font-weight: bold;
}
