html * {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: #000000;
  text-decoration: none;
}

#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  background: #2db34a;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 5em;
  width: auto;
  height: 200px;
  justify-content: center;
  align-items: center;
}

#profilephoto {
  border-radius: 50%;
  width: 212px;
  height: 212px;
  margin-top: 1em;
  margin-left: 1.5em;
}

#sidebarline{
  width: auto;
  margin-left: 0.5px;
  margin-right: 10px;
  height: 2.5px;
  background-color: #000000;
}

.border {
  padding: 1em;
  padding-left: 9em;
  padding-right: 9em;
  border: 2px solid #ffffff;
  text-align: center;
}

.head {
  margin: 0;
}

.sidenav {
  margin-left: 15em;
  height: auto;
  background-color: lightgrey;
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.0001fr 1fr 0.3fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 25px;
  border: 2px blue solid;
  height: 100vh;
}

.uppercase {
  text-transform: uppercase;
}

.font {
  font-size: 35px;
}

.biography-header {
  font-size: 32px;
}

.floatimgleft{
  float: left;
  line-height: 19px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 5px;
}

/* .box {
  border: 3px pink solid;
} */

.a {
  grid-area: 1 / 1 / 2 / 5;
}

.b {
  grid-area: 2 / 1 / 7 / 2;
}

.c {
  grid-area: 2 / 3 / 6 / 4;
}
